<router-outlet></router-outlet>
<p>residences works!</p>
<div class="row">
    <div *ngFor="let i of listServiceResidence" class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{i.name | uppercase}}</h5>
          <p class="card-text">{{i.address}}</p>         
          <button class="btn btn-danger" (click)="deleteResidence(i.id)">Delete</button>
          <button class="btn btn-success" [routerLink]="['update',i.id]">Update</button>
          <button class="btn btn-dark" [routerLink]="['detailsresidence',i.id]">Show Details</button>
    
    
        </div>
      </div>
    </div>
      
     
    
    