<p>form-ajout works!</p>
<div class="container">
    <form [formGroup]="formR">
    
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">id</span>
            </div>
            <input type="text" class="form-control" formControlName="id">
          </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">nom</span>
            </div>
            <input type="text" class="form-control" formControlName="nom">
          </div>    
    
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">matF</span>
            </div>
            <input type="text" class="form-control" formControlName="matF">
          </div>    
    
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">status</span>
            </div>
            <input type="text" class="form-control" formControlName="status">
          </div>
    
          <button class="btn btn-primary" (click)="add()"  >save</button>
    </form>
    </div>
    
    